**__pycache__**
/projects/cli/mtool/library/*
*.pyo
*.pyc
.vscode
/scripts/mtool/python/*
/library
/.pytest_cache
/build
/dist
/mtool.egg-info
.project
.pydevproject
/library/*
/output/*
.coverage*
.ipynb_checkpoints*
